.header__logo {
  img {
    margin-bottom: 17px;
  }

  @media screen and (max-width: 1040px) {
    img {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 550px) {
    img {
      margin-bottom: 0;
      width: 74px;
      height: 34px;
    }
  }
}