.header__logo {
  margin-bottom: 17px;

  @media screen and (max-width: 1040px) {
    margin-bottom: 0;
  }

  @media screen and (max-width: 550px) {
    margin-bottom: 0;
    width: 74px;
    height: 34px;
  }
}