.footer__phone {
  width: 150px;

  a {
    @include fontValueMontserrat(normal, bold, 18px, 22px);

    text-decoration: none;
    color: $text-color-description;
  }

  &:hover {
    cursor: pointer;
  }

  @media screen and (max-width: 550px) {
    width: 120px;

    a {
      @include fontValueMontserrat(normal, bold, 14px, 17px);
    }
  }
}
