.header__phone {
  width: 200px;

  a {
    @include fontValueMontserrat(normal, bold, 24px, 29px);

    text-decoration: none;
    color: $text-color-white;
  }

  &:hover {
    cursor: pointer;
  }

  @media screen and (max-width: 550px) {
    width: 116px;

    a {
      @include fontValueMontserrat(normal, bold, 14px, 17px);
    }
  }
}