.autopark__card {
  padding: 15px 27px;
  max-width: 407px;
  max-height: 547px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-image: url("/img/background-car.png");
}
