.footer__car_left {
  position: absolute;
  left: 20px;
  bottom: 76px;
  transform: translateX(-100%);

  @media screen and (max-width: 900px) {
    bottom: 35px;
  }

  @media screen and (max-width: 600px) {
    img {
      bottom: 40px;
      width: 290px;
    }
  }
}

.footer__car_right {
  position: absolute;
  right: 20px;
  bottom: 76px;
  transform: translateX(100%);

  @media screen and (max-width: 900px) {
    bottom: 35px;
  }

  @media screen and (max-width: 600px) {
    bottom: 35px;

    img {
      bottom: 40px;
      width: 290px;
    }
  }
}

.footer__car_anim-1900 {
  .footer__car_left {
    transform: translateX(0%);
    transition: all 3s ease 0s;
  }

  .footer__car_right {
    transform: translateX(0%);
    transition: all 3s ease 0s;
  }
}

.footer__car_anim-1300 {
  .footer__car_left {
    transform: translateX(-40%);
    transition: all 2s ease 0s;
  }

  .footer__car_right {
    transform: translateX(40%);
    transition: all 2s ease 0s;
  }
}

.footer__car_anim-900 {
  .footer__car_left {
    transform: translateX(-60%);
    transition: all 2s ease 0s;
  }

  .footer__car_right {
    transform: translateX(60%);
    transition: all 2s ease 0s;
  }
}

.footer__car_anim-600 {
  .footer__car_left {
    transform: translateX(-75%);
    transition: all 1s ease 0s;
  }

  .footer__car_right {
    transform: translateX(75%);
    transition: all 1s ease 0s;
  }
}
