@import "./__buttons/preview__buttons.scss";
@import "./__car-characteristics/preview__car-characteristics.scss";
@import "./__car-description/preview__car-description.scss";
@import "./__car-name/preview__car-name.scss";
@import "./__car-text/preview__car-text.scss";
@import "./__description/preview__description.scss";
@import "./__elipse/preview__elipse.scss";
@import "./__img/preview__img.scss";
@import "./__property-name/preview__property-name.scss";
@import "./__property-text/preview__property-text.scss";
@import "./__property/preview__property.scss";
@import "./__slogan/preview__slogan.scss";
@import "./__title-container/preview__title-container.scss";
@import "./__title/preview__title.scss";
@import "./__weight/preview__weight.scss";

.preview {
  @include margins;

  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: 1100px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}