.preview__slogan {
  @include fontValue(normal,normal,10px,150.4%);

  margin: 0;
  margin-top: 10%;
  margin-bottom: 20px;
  letter-spacing: 0.24em;
  color: $text-color-second;

  @media screen and (max-width: 600px) {
    @include fontValue(normal,normal,8px,150.4%);

    margin: 0;
    margin-top: 15px;
    letter-spacing: 0.24em;
    color: $text-color-white;
  }
}