.packaging-materials__item {
  position: relative;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 27px;
  border: 1px solid $attention-color-second;
  width: calc(100% / 3);
  height: 387px;
  max-width: 382px;
  box-sizing: border-box;
  background-size: 100% 100%;

  &:last-of-type {
    margin-right: 0;
  }

  &:nth-child(1) {
    background-image: url("./img/packaging-materials/packaging-materials-background-1.png");
  }

  &:nth-child(2) {
    background-image: url("./img/packaging-materials/packaging-materials-background-2.png");
  }

  &:nth-child(3) {
    background-image: url("./img/packaging-materials/packaging-materials-background-3.png");
  }

  @media screen and (max-width: 1040px) {
    height: 300px;
  }

  @media screen and (max-width: 768px) {
    margin-right: 15px;
    height: 250px;
  }

  @media screen and (max-width: 600px) {
    margin-right: 8px;
    height: 200px;
  }
}