.movers__img {
  display: block;
  min-width: 50%;

  img {
    width: 100%;
    object-fit: contain;
  }

  @media screen and (max-width: 800px) {
    min-width: 100%;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}