.footer__adress {
  @include fontValueMontserrat(normal, normal, 18px, 22px);

  margin: 0;
  width: 190px;
  color: $text-color-description;

  @media screen and (max-width: 500px) {
    @include fontValueMontserrat(normal, normal, 14px, 17px);

    width: 144px;
  }
}