@import "./__card-description/autopark__card-description.scss";
@import "./__card/autopark__card.scss";
@import "./__icon/autopark__icon.scss";
@import "./__img/autopark__img.scss";
@import "./__name/autopark__name.scss";
@import "./__property/autopark__property.scss";
@import "./__title/autopark__title.scss";

.autopark {
  @include margins;

  margin-top: 200px;

  .swiper-container_autopark {
    width: 100%;
  }

  .swiper-button-next_autopark::after {
    font-size: 48px;
    color: #000;
  }

  .swiper-button-prev_autopark::after {
    font-size: 48px;
    color: #000;
  }
}