.autopark__property {
  list-style: none;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  li {
    @include fontValue(normal, normal, 18px, 20px);

    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: $text-color-second;

    span {
      font-weight: 800;
      white-space: pre;
    }
  }

  @media screen and (max-width: 650px) {
    li {
      @include fontValue(normal, normal, 12px, 150%);
    }
  }
}
