@import url("./vendor/normalize.css");
@import url("./vendor/font/font.css");
@import "./vendor/variables.scss";

.header {
  display: flex;
  align-items: flex-start;
  border: 1px solid red;
  width: 100%;
}

.header__menu {
  display: flex;
  list-style: none;
  padding: 0;

  .header__link {
    a {
      @include fontValue(normal, 400, 12px, 14px);

      margin-right: 20px;
      text-decoration: none;
    }
  }

  .header__link_active {
    a {
      @include fontValue(normal, bold, 12px, 14px);
    }
  }
}