@import url("./vendor/normalize.css");
@import url("./vendor/font/font.css");
@import "./vendor/variables.scss";

.content {
  width: 100%;
}

.header {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  border: 1px solid rgb(255, 0, 0);
  width: 100%;
  max-width: 1440px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  .header__icons {
    .header__icon {
      display: inline-block;

      &:first-of-type {
        margin-right: 22px;
      }
    }
  }
}

.header__links {
  display: flex;
  list-style: none;
  padding: 0;

  .header__link {
    a {
      @include fontValue(normal, 400, 12px, 14px);

      margin-right: 20px;
      text-decoration: none;
      color: $text-color;
    }
  }

  .header__link_active {
    a {
      @include fontValue(normal, bold, 12px, 14px);
    }
  }
}

.header__icon {
  background-color: rgb(0, 0, 0);
}

.header__callme {
  display: flex;
  align-items: flex-start;
  background-color: rgb(0, 0, 0);

  .header__icon {
    margin-top: 4px;
    margin-right: 20px;
  }

  .header__phone {
    @include fontValueMontserrat(normal, bold, 24px, 29px);

    margin: 0;
    width: 200px;
    color: $text-color-white;
  }
}