@import url("./vendor/normalize.css");
@import url("./vendor/font/font.css");
@import "./vendor/variables.scss";
@import "./blocks/header/header.scss";
@import "./blocks/background-mobile/background-mobile.scss";
@import "../node_modules/swiper/swiper-bundle.css";

.content {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.preview__elipse {
  position: absolute;
  right: -438px;
  top: -632px;
  z-index: -1;
  border-radius: 50%;
  width: 1211px;
  height: 1211px;
  background: $attention-color;
  opacity: 0.2;
}

.preview__elipse_2 {
  position: absolute;
  right: -483px;
  top: -618px;
  z-index: -1;
  border-radius: 50%;
  width: 1211px;
  height: 1211px;
  background: linear-gradient(189.73deg, #ff8339 45.63%, $attention-color 98.31%);
}

@media screen and (max-width: 900px) {
  .preview__elipse {
    right: -605px;
    top: -987px;
  }

  .preview__elipse_2 {
    right: -655px;
    top: -987px;
  }
}

.preview {
  position: relative;
  margin: 0 auto;
  border: 1px solid rgb(17, 78, 33);
  width: 100%;
  max-width: 1440px;
}

.preview__slogan {
  @include fontValue(normal, normal, 10px, 150%);

  margin: 0;
  margin-bottom: 13px;
  letter-spacing: 0.24em;
  color: $text-color-second;
}

.preview__container {
  display: flex;
}

.preview__title {
  @include fontValue(normal, 800, 48px, 108.4%);

  margin: 0;
  margin-bottom: 13px;
  width: 315px;
  color: $title-color;
}

.preview__line {
  display: block;
  margin-right: 22px;
  border: 4px solid $attention-color;
  width: 46px;
  height: 0;
}

.preview__description {
  @include fontValue(normal, normal, 18px, 150.4%);

  margin: 0;
  margin-bottom: 23px;
  width: 405px;
  color: $text-color-second;
}

.button {
  @include fontValue(normal, bold, 18px, 150.4%);

  border: none;
  width: 220px;
  height: 50px;
}

.button__to-form {
  color: $text-color-white;
  background: linear-gradient(180deg, $attention-color 0%, #ff833a 100%);
}

.button__second {
  border: 1px solid $attention-color;
  color: $title-color;
  background: none;
}

.swiper-container_my {
  width: 100%;
  height: 500px;
}

.swiper-wrapper_my {
  border: 1px solid rgb(255, 0, 0);
  padding: 20px;
}

.img-slide {
  text-align: center;

  img {
    width: 500px;
    max-width: 100%;
  }
}

.swiper-button-next_my::after {
  font-size: 48px;
  color: #000;
}

.swiper-button-prev_my::after {
  font-size: 48px;
  color: #000;
}

.swiper-container_my .swiper-pagination-progressbar {
  width: 200px;
  background-color: rgb(125, 11, 129);
}

.swiper-container_my .swiper-pagination-progressbar-fill {
  background-color: rgb(17, 78, 33);
}